@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --font-gs: "General Sans", "sans-serif";
  --font-manrope: "Manrope", "sans-serif";
  --color-cherry: #d20a2e;
}

@layer base {
  /* === GENERAL SANS === */
  @font-face {
    font-family: "General Sans";
    src: url("assets/fonts/GeneralSans-Regular.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: "General Sans";
    src: url("assets/fonts/GeneralSans-Medium.otf") format("opentype");
    font-weight: 500;
    font-style: normal;
  }

  /* === MANROPE === */
  @font-face {
    font-family: "Manrope";
    src: url("assets/fonts/Manrope-Bold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
  }

  h1 {
    @apply font-manrope text-3xl font-bold;
  }

  h2 {
    @apply font-manrope text-2xl font-bold;
  }

  h3 {
    @apply font-manrope text-xl font-bold;
  }

  h4 {
    @apply font-manrope text-lg font-medium;
  }

  p {
    @apply font-gs;
  }

  li {
    @apply font-gs pl-5;
  }

  button {
    @apply border-cherry font-gs hover:bg-cherry rounded-2xl border-2 border-solid bg-white px-9 py-3 transition-colors hover:cursor-pointer hover:border-black hover:text-white disabled:cursor-default disabled:border-black disabled:bg-gray-400 disabled:hover:text-black;
  }

  textarea {
    @apply font-gs rounded-2xl border-2 border-black p-5 focus:border-black;
  }

  label {
    @apply font-gs font-medium;
  }

  input {
    @apply focus:outline-cherry rounded-2xl p-3 outline-2 outline-gray-400;
  }
}

/* ONLY TOP BUTTONS */
.layout-t {
  @apply grid h-fit min-h-screen w-screen grid-rows-[auto_1fr] items-center gap-y-8 p-8;
}

/* W TOP AND BOTTOM BUTTONS */
.layout-tb {
  @apply grid h-screen w-screen grid-rows-[auto_1fr_auto] items-center gap-y-8 p-8;
}

.selection-card {
  @apply hover:bg-cherry flex basis-1/2 flex-col items-center justify-center gap-5 rounded-2xl border-2 border-solid text-center transition-colors hover:cursor-pointer hover:border-black hover:text-white;
}

.selected-button {
  @apply bg-cherry border-2 border-black text-white;
}

.video-wrapper {
  @apply relative aspect-video w-full;
}

.video-wrapper video {
  @apply absolute top-0 left-0 h-full w-full;
}

video {
  transform: scaleX(-1);
}

video::-webkit-media-controls-enclosure {
  transform: scaleX(-1);
}

.timestamp {
  @apply text-cherry border-0 bg-transparent p-0 hover:underline;
}
