@import "tailwindcss";

@theme {
  --font-gs: "General Sans", "sans-serif";
  --font-manrope: "Manrope", "sans-serif";
  --color-cherry: #d20a2e;
}

@layer base {
  /* === GENERAL SANS === */
  @font-face {
    font-family: "General Sans";
    src: url("/assets/fonts/GeneralSans-Regular.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
  }

  /* === MANROPE === */
  @font-face {
    font-family: "Manrope";
    src: url("/assets/fonts/Manrope-Bold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
  }

  h1 {
    @apply font-manrope text-3xl font-bold;
  }

  h2 {
    @apply font-manrope text-2xl font-bold;
  }

  p {
    @apply font-gs;
  }

  button {
    @apply border-cherry font-gs hover:bg-cherry rounded-2xl border-2 border-solid bg-white px-9 py-3 transition-colors hover:cursor-pointer hover:border-black hover:text-white disabled:cursor-default disabled:border-black disabled:bg-gray-400 disabled:hover:text-black;
  }

  textarea {
    @apply font-gs rounded-2xl border-2 border-black p-5 focus:border-black;
  }
}

/* ONLY TOP BUTTONS */
.layout-t {
  @apply grid h-screen w-screen grid-rows-[auto_1fr] items-center gap-y-8 p-8;
}

/* W TOP AND BOTTOM BUTTONS */
.layout-tb {
  @apply grid h-screen w-screen grid-rows-[auto_1fr_auto] items-center gap-y-8 p-8;
}

.selection-card {
  @apply hover:bg-cherry flex basis-1/2 flex-col items-center justify-center gap-5 rounded-2xl border-2 border-solid text-center transition-colors hover:cursor-pointer hover:border-black hover:text-white;
}

.selected-card {
  @apply bg-cherry border-2 border-black text-white;
}

.video-wrapper {
  /* 56.25% is aspect ratio of 16:9 */
  @apply relative w-full max-w-full overflow-hidden border-0 pt-[56.25%];
}

.video-wrapper video {
  @apply absolute top-0 left-0 h-full w-full;
}
